* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body
    /* This is how we comment in CSS */
    {
        color: #39a6b2;
        font-family: Helvetica, Arial, sans-serif;
    }

header
    /*apply style to <header> It WAS 20, not 4 px, but did not seem to work properly for the width
    I changed from the default padding code and used this and tweaked things. From left to right, TOP  RIGHT  BOTTOM  LEFT */
    {
        padding: 3px 15px 20px 25px;
        background-color: #39a6b2;
        display: flex;/*puts the parent element <header> and children <h1> and <av> in a row, and evenly spaced apart*/
                        /*to change "row" to "column" use flex-direction: column;*/
        justify-content: space-between;/*calculates the unused space of the header and spreads child and parent evenly*/
        flex-wrap: wrap;/*allows for header children to stack when window gets smaller*/
    }

    /*"inline" moves the link options into blue header bar*/
header h1 {
    font-weight: bold;
    font-size: 36px;
    color: #fce138;
    margin: 0px;
            }

    /*Removes the underline and changes the color*/        
header a {
    text-decoration: none;
    color: #fce138;
}

/*Moves <nav> element to the right side*/
header nav {
    /*"7px" is top and bottom, "0px" is left and right*/
    margin: 7px 0;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; /*all of this makes the resizing of the window easier and cleaner for children to stack*/
    align-items: center;/*vertically centers the content (children)*/
    list-style: none;/*puts children in a list when resizing*/
}

/*Made bigger gap in between choices, made font a lighter color, made font bigger*/
header nav ul li a {
    margin: 0 30px;
    font-weight: lighter;
    font-size: 1.55vw;/*viewport width - telling browser that font size should be roughly 1.55% of window's overall width*/
}

/*Added the solid yellow footer bar  --  40px is top and bottom, 35px is left and right sides for padding*/
footer {
    justify-content: space-between;
    flex-wrap: wrap;
    display: flex;
    background: #fce138;
    width: 100%;
    padding: 40px 35px;
}

footer h2 {
    color: #024e76;
    font-size: 30px;
    margin: 0;
}

/*Sends text to the right side of the webpage and centers it*/
footer div {
    line-height: 1.5;/*"line-height" property assigns how much vertical space between lines*/
    text-align: right;
}

/*Simply changed the color of "Read Our Privacy Policy*/
footer a {
    color: #024e76;
}

/*End of Mod 1 Less 2*/

/*padding spreads out the elements in the hero section nicely, CSS box model*/
section {
    padding: 60px;
}

/*HERO STYLE START*/

.hero {
    background-image: url("../images/hero-bg.jpg");
    background-size: cover;
    background-position: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.hero-form { 
    background-color: #fce138;
    padding: 20px;
    color: #024e76;
    border-style: solid; /*can combine these three like this: border: solid 3px #024e76;*/
    border-width: 3px;
    border-color: #024e76;
    width: 40%;
    margin: 3.5%;
}

.hero-form h3 {
    font-size: 24px;
    margin: 0;
}

.hero-form p {
    margin: 5px 0 15px 0;/*this allowed me to align the "fill out this form" sentence properly*/
}

.form-input {/*spaces the 3 text fields out nicely and brings things together*/
    border: 1px solid #024e76;
    display: block;
    padding: 7px, 15px;
    font-size: 15px; /*size of placeholder*/
    color:#024e76;
    width: 100%;
    height: 30px;
    margin-bottom: 15px;
    padding-left: 10px;/*moving placeholders into their text field to make it look nice and indented*/
}

.hero-form label {
    margin: 0 5px;
}

.hero-form button {/*makes the "get running" button bigger and nicer looking*/
    color:#fce138;
    background-color: #024e76;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
}

.hero-cta {
    width: 35%;
    text-align: right;
    margin: 3.5%;
    color: #fff;
    font-size: 18px;
    line-height: 1.3;
}

.hero-cta h2 {
    font-style: italic;
    font-size: 55px;
    color: #fce138;
}

/* hero style end */

.intro {
    text-align: center;
}

.intro p {/*styled all of the 'what we do' paragraph*/
    line-height: 1.7;
    color: #39a6b2;
    width: 80%;
    font-size: 20px;
    margin: 0 auto;/*centers the paragraph (and most non text content), ONLY WORKS FOR HORIZONTAL CENTERING*/
}

.steps {
    text-align: center;
    background: #fce138;
}

.section-title { /*this class was specified for combining the old code with .intro h2 and .steps h2 because they were so similar
                    REMEMBER the DRY rule, DON'T REAPEAT YOURSELF*/
    font-size: 55px;
    color: #024e76;
    margin-bottom: 35px;
    padding: 0 100px 20px 100px;
    display: inline-block;
    border-bottom: 3px solid;
}

.primary-border {/*used with h2 in What We Do section*/
    border-color: #fce138;
}

.secondary-border {
    border-color: #39a6b2;
}

.steps div {/*this is for the SVG images, this "steps div" in particular separates the various <div> sections for the 1-4 steps properly*/
    margin-bottom: 80px;
 }

.steps img {
    width: 15%;
    margin: 10px 0;
}

.steps h3 {
    color: #024e76;
    font-size: 46px;
    margin-top: 10px;
}  

.steps p {
    color: #39a6b2;
    font-size: 23px;
}

.steps span {
    font-size: 38px;
}

.trainers { /*centers image, headers and paragraph for the entire <section>*/
    text-align: center;
}

.trainer {/*creates border around all text and image with padding (margin) and colors it*/
    width: 900px;/*did this so the text did not take up the entirety of the page*/
    margin: 0 auto 30px auto;/*top, right, bottom, left. "auto" tells browser to take
                             space that is unused and evenly distribute it on those sides*/
    background: #024e76;
    color: #fce138;
    overflow: auto;/*Don't really understand this, but this element tell the <article> section
                    that it HAS content inside it, and that it needs to look for it and account
                    for the floating*/
}

.trainer img {/*adjusts image to appropriate size for mock up, and left aligns and centers it*/
    width: 35%;
    float: left;
}

.trainer-bio {/*takes the bio text and centers it to the right within the <div> child of article*/
    padding: 35px;
    float: left;
    width: 65%;
}

.text-left {/*a utility class that left-align's the paragraph for trainers, in this
            case, for Arron Stephens*/
    text-align: left;
}

.text-right {/*same thing as above, except for the middle trainer to RIGHT align the text*/
    text-align: right;
}

.trainer-bio h3 {/*corrects the header name and the rest of the text*/
    font-size: 32px;
    margin-bottom: 8px;
}

.trainer-bio h4 {/* makes h4 (speed/str) properly line up higher than paragraph
                text, and makes it less BOLD*/
    font-weight: lighter;
    font-size: 26px;
    margin-bottom: 25px;
}

.trainer-bio p {/*properly sizes font of paragraph and line height in between lines*/
    font-size: 17px;
    line-height: 1.3;
}

/* REACH OUT STYLES START */

.contact {/*puts the dark blue backround on this section, and centers things*/
    text-align: center;
    background: #024e76;
}

.contact h2 {
    color: #fce138;
}

.contact-info iframe {/*we specify each iframe because there can be multiple on a webpage.*/
        /*"iframe" is the only name that worked, .contact-info iframe did not. WHY?*/    
    width: 400px;
    height: 400px;
}

.contact-info div {
    width: 410px;
    display: inline-block;
    vertical-align: top;
    text-align: left;
    margin: 30px 0 0 60px;
    color: white;
}

.addressdiv {
    display: block;
}

.contact-info h3 {
    color: #fce138;
    font-size: 32px;
}

.contact-info p, .contact-info address { /*you can make 2 classes in the same line...apparently?*/
    margin: 20px 0;
    line-height: 1.5;
    font-size: 20px;
    font-style: normal;
}

.contact-info a {
    color: #fce138;
}

/* REACH OUT STYLES END */

/* homepage hero */

.hero {
    margin: 20px;
    background-color: white;
    font-size: 20px;
    color: blue;
}

/* SECONDARY PAGE HERO */
.hero-secondary {
    margin: 20px;
    background-color: black;
    font-size: 20px;
    color: red;
}