* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body
    /* This is how we comment in CSS */
    {
        color: #39a6b2;
        font-family: Helvetica, Arial, sans-serif;
    }
header
    /*apply style to <header> It WAS 20, not 4 px, but did not seem to work properly for the width
    I changed from the default padding code and used this and tweaked things. From left to right, TOP  RIGHT  BOTTOM  LEFT */
    {
        padding: 3px 15px 20px 25px;
        background-color: #39a6b2
    }
    /*"inline" moves the link options into blue header bar*/
header h1 {
    font-weight: bold;
    font-size: 36px;
    color: #fce138;
    margin: 0px;
    display: inline;
            }
    /*Removes the underline and changes the color*/        
header a {
    text-decoration: none;
    color: #fce138;
}
/*Moves <nav> element to the right side*/
header nav {
    float: right;
    /*"7px" is top and bottom, "0px" is left and right*/
    margin: 7px 0;
}
/*Displays the "list" that was going top to bottom to left to right*/
header nav ul li {
    display: inline;
}
/*Made bigger gap in between choices, made font a lighter color, made font bigger*/
header nav ul li a {
    margin: 0 30px;
    font-weight: lighter;
    font-size: 22px;
}
/*Added the solid yellow footer bar  --  40px is top and bottom, 35px is left and right sides for padding*/
footer {
    background: #fce138;
    width: 100%;
    padding: 40px 35px;
}
footer h2 {
    display: inline;
    color: #024e76;
    font-size: 30px;
    margin: 0;
}
/*Sends text to the right side of the webpage and centers it*/
footer div {
    float: right;
    line-height: 1.5;/*"line-height" property assigns how much vertical space between lines*/
    text-align: right;
}
/*Simply changed the color of "Read Our Privacy Policy*/
footer a {
    color: #024e76;
}
/*End of Mod 1 Less 2*/

/*padding spreads out the elements in the hero section nicely, CSS box model*/
section {
    padding: 60px;
}